$light: #F1EDEE;
$middle: #59656F;
$dark: #1D1E2C;

$primary: #FE5F55;
$secondary: #52B788;
$tertiary: #B80C09;

$background: $dark;

:export {
    light: $light;
    middle: $middle;
    dark: $dark;

    primary: $primary;
    secondary: $secondary;
    tertiary: $tertiary;

    background: $background;
}